<!DOCTYPE html>

{% load i18n %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.95">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="shortcut icon" href="/static/favicon.png" sizes="480x480" />
    <title>{% block title %}{% endblock %}</title>
    {% block headAdditional %}{% endblock %}
</head>

<body>

    <div class="baseLayout">

        {% include "globalMessage.html" %}

        {% if user.is_authenticated %}

        <div class="userPanel">
            {% include "userPanel.html" %}
        </div>

        {% endif %}

        <main>

            {% if user.is_authenticated or "accounts/login/" in request.path or "accounts/logout/" in request.path %}

                <h1>{% block heading %}{% endblock %}</h1>
                <div class="content">
                    {% block content %}{% endblock %}
                </div>

            {% else %}

                <div class="centeringFlex">
                    {% translate "An error occured. Please log out and log in again." %}
                    <br>
                    <a href="/accounts/logout">log out</a>
                </div>

            {% endif %}

        </main>

        {% include "footer.html" %}

    </div>

    <script src="/static/js/main.js"></script>

</body>
</html>