{% extends "baseLayout.html" %}

{% load i18n %}

{% block title %}
    {% translate "Drinks - Deposit" %}
{% endblock %}

{% block headAdditional %}
    <link rel="stylesheet" href="/static/css/deposit.css">
{% endblock %}

{% block heading %}
    {% translate "Deposit" %}
{% endblock %}

{% block content %}

    <form id="depositForm">
        {% csrf_token %}

        <div class="row">
            <div class="column">{% translate "Amount" %} {{ currency_suffix }}:</div>
            <div class="column"><input type="number" name="depositAmount" id="depositAmount" max="9999.99" min="1.00"
                 step="0.01" autofocus></div>
        </div>

        <div id="statusInfo"></div>

        <div class="horizontalButtonList">
            <a href="/" class="button">{% translate "cancel" %}</a>
            <input type="submit" id="depositSubmitBtn" class="button" value='{% translate "confirm" %}'>
        </div>

    </form>

    <script src="/static/js/deposit.js"></script>
   
{% endblock %}
