{% extends "baseLayout.html" %}

{% load i18n %}

{% block title %}
    {% translate "Drinks - History" %}
{% endblock %}

{% block headAdditional %}
    <link rel="stylesheet" href="/static/css/history.css">
{% endblock %}

{% block heading %}
    {% translate "History" %}
{% endblock %}

{% block content %}

    {% if history %}
        <table class="history">
            <tr>
                <th>{% translate "last 30 actions" %}</th>
                <th></th>
            </tr>
            {% for h in history %}
                <tr>
                    <td>{{ h.0 }}</td>
                    <td class="historyDate">{{ h.1 }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        {% translate "No history." %}
    {% endif %}
        
{% endblock %}
