{% extends "baseLayout.html" %}

{% load i18n %}

{% block title %}
    {% translate "Drinks - Home" %}
{% endblock %}

{% block headAdditional %}
    <link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block heading %}
    {% translate "Available Drinks" %}
{% endblock %}

{% block content %}

    {% if available_drinks %}

        <ul class="availableDrinksList">
            {% for drink in available_drinks %}
                {% if drink.binary_availability %}
                    <li>
                        <a class="button" href="/order/{{ drink.id }}">
                            <span>{{ drink }}</span>
                            <span>{% translate "available" %}</span>
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a class="button" href="/order/{{ drink.id }}">
                            <span>{{ drink }}</span>
                            <span>{{ drink.available }} {% translate "available" %}</span>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    
    {% else %}

        {% translate "No drinks available." %}
            
    {% endif %}

{% endblock %}
