{% extends "baseLayout.html" %}

{% load i18n %}

{% block title %}
{% translate "Drinks - Order" %}
{% endblock %}

{% block headAdditional %}
    <link rel="stylesheet" href="/static/css/order.css">
    <link rel="stylesheet" href="/static/css/customNumberInput.css">
{% endblock %}

{% block heading %}
    {% translate "Order" %}
{% endblock %}
    
{% block content %}

    {% if drink and drink.available > 0 and not drink.deleted %}        

    <form id="orderForm">
        {% csrf_token %}

        <div class="row">
            <div class="column">{% translate "Drink" %}:</div>
            <div class="column">{{ drink.product_name }}</div>
        </div>

        <div class="row">
            <div class="column">{% translate "Price per Item" %}:</div>
            <div class="column">{{ drink.price }}{{ currency_suffix }}</div>
        </div>

        {% if not drink.binary_availability %}
        <div class="row">
            <div class="column">{% translate "Available" %}:</div>
            <div class="column">{{ drink.available }}</div>
        </div>
        {% endif %}

        <div class="row">
            <div class="column">{% translate "Count" %}:</div>
            <div class="column">
        <span class="customNumberInput">
            <button type="button" class="customNumberInput-minus">-</button>
            {% if drink.binary_availability %}
            <input type="number" class="customNumberInputField" name="numberOfDrinks" id="numberOfDrinks"
                min="1" max="100" value="1">
            {% else %}
            <input type="number" class="customNumberInputField" name="numberOfDrinks" id="numberOfDrinks"
                max="{{ drink.available }}" min="1" max="100" value="1">
            {% endif %}
            <button type="button" class="customNumberInput-plus">+</button>
        </span>
            </div>
        </div>
            
        <div id="statusInfo"></div>

        <input type="hidden" name="drinkID" id="drinkID" value="{{ drink.id }}">

        <div class="horizontalButtonList">
            <a href="/" class="button">{% translate "cancel" %}</a>
            <input type="submit" id="orderSubmitBtn" class="button" value='{% translate "order" %}'>
        </div>

    </form>


    <script src="/static/js/order.js"></script>
    <script src="/static/js/customNumberInput.js"></script>

    {% else %}

    <div class="centeringFlex">
        <p>{% translate "This drink is not available." %}</p>
        <a href="/">{% translate "back" %}</a>
    </div>

    {% endif %}

{% endblock %}
