{% extends "baseLayout.html" %}

{% load i18n %}

{% block title %}
    {% translate "Drinks - Statistics" %}
{% endblock %}

{% block headAdditional %}
    <link rel="stylesheet" href="/static/css/statistics.css">
{% endblock %}


{% block heading %}
    {% translate "Statistics" %}
{% endblock %}


{% block content %}

    <div class="mainContainer">

        <div class="dropDownMenu" id="statisticsDropDownMenu">
            <button class="dropDownButton" id="statisticsDropDownMenuButton">
                <div>
                    {% translate "Choose" %}
                </div>
            </button>
            <div class="dropDownList">
                <button class="sChoice dropDownChoice" data-statistics_div="noyopd">
                    {% translate "Your orders per drink" %}
                </button>
                <button class="sChoice dropDownChoice" data-statistics_div="yopwd">
                    {% translate "Your orders per weekday" %}
                </button>
                <button class="sChoice dropDownChoice" data-statistics_div="yopml12m">
                    {% translate "Your orders per month (last 12 months)" %}
                </button>
                <button class="sChoice dropDownChoice" data-statistics_div="noaopd">
                    {% translate "All orders per drink" %}
                </button>
                <button class="sChoice dropDownChoice" data-statistics_div="aopwd">
                    {% translate "All orders per weekday" %}
                </button>
                <button class="sChoice dropDownChoice" data-statistics_div="aopml12m">
                    {% translate "All orders per month (last 12 months)" %}
                </button>
            </div>
        </div>

        <div class="tablesContainer">

            <div id="noyopd" class="statisticsTable nodisplay">
                <h1>{% translate "Your orders per drink" %}</h1>
                {% if noyopd %}
                <table>
                    <tr>
                        <th>{% translate "drink" %}</th>
                        <th>{% translate "count" %}</th>
                    </tr>
                    {% for row in noyopd %}
                    <tr>
                        <td>{{ row.0 }}</td>
                        <td>{{ row.1 }}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <div>{% translate "No history." %}</div>
                {% endif %}
            </div>

            <div id="noaopd" class="statisticsTable nodisplay">
                <h1>{% translate "All orders per drink" %}</h1>
                {% if noaopd %}
                <table>
                    <tr>
                        <th>{% translate "drink" %}</th>
                        <th>{% translate "count" %}</th>
                    </tr>
                    {% for row in noaopd %}
                    <tr>
                        <td>{{ row.0 }}</td>
                        <td>{{ row.1 }}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <div>{% translate "No history." %}</div>
                {% endif %}
            </div>
    
            <div id="yopml12m" class="statisticsTable nodisplay">
                <h1>{% translate "Your orders per month (last 12 months)" %}</h1>
                {% if yopml12m %}
                <table>
                    <tr>
                        <th>{% translate "month" %}</th>
                        <th>{% translate "count" %}</th>
                    </tr>
                    {% for row in yopml12m %}
                    <tr>
                        <td>{{ row.0 }}</td>
                        <td>{{ row.1 }}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <div>{% translate "No history." %}</div>
                {% endif %}
            </div>

            <div id="aopml12m" class="statisticsTable nodisplay">
                <h1>{% translate "All orders per month (last 12 months)" %}</h1>
                {% if aopml12m %}
                <table>
                    <tr>
                        <th>{% translate "month" %}</th>
                        <th>{% translate "count" %}</th>
                    </tr>
                    {% for row in aopml12m %}
                    <tr>
                        <td>{{ row.0 }}</td>
                        <td>{{ row.1 }}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <div>{% translate "No history." %}</div>
                {% endif %}
            </div>

            <div id="yopwd" class="statisticsTable nodisplay">
                <h1>{% translate "Your orders per weekday" %}</h1>
                {% if yopwd %}
                <table>
                    <tr>
                        <th>{% translate "day" %}</th>
                        <th>{% translate "count" %}</th>
                    </tr>
                    {% for row in yopwd %}
                    <tr>
                        <td>{{ row.0 }}</td>
                        <td>{{ row.1 }}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <div>{% translate "No history." %}</div>
                {% endif %}
            </div>

            <div id="aopwd" class="statisticsTable nodisplay">
                <h1>{% translate "All orders per weekday" %}</h1>
                {% if aopwd %}
                <table>
                    <tr>
                        <th>{% translate "day" %}</th>
                        <th>{% translate "count" %}</th>
                    </tr>
                    {% for row in aopwd %}
                    <tr>
                        <td>{{ row.0 }}</td>
                        <td>{{ row.1 }}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <div>{% translate "No history." %}</div>
                {% endif %}
            </div>

        </div>

    </div>

    <script src="/static/js/statistics.js"></script>

{% endblock %}
