{% load i18n %}

<div class="dropDownMenu" id="dropDownMenu">
    <button class="dropDownButton" id="dropDownMenuButton">
        <div>
            {% if user.first_name != "" %}
                {% translate "User" %}: {{ user.first_name }} {{ user.last_name }} ({{ user.username }})
            {% else %}
                {% translate "User" %}: {{ user.username }}
            {% endif %}
            &nbsp;-&nbsp;
            {% if user.balance < 0.01 %}
                <span class="userBalanceWarn">{% translate "Balance" %}: {{ user.balance }}{{ currency_suffix }}</span>
            {% else %}
                <span>{% translate "Balance" %}: {{ user.balance }}{{ currency_suffix }}</span>
            {% endif %}
        </div>
    </button>
    <div class="dropDownList">
        <a class="button dropDownChoice" id="navBarBtnHome" href="/">Home</a>
        <a class="button dropDownChoice" id="navBarBtnHistory" href="/history">{% translate "History" %}</a>
        <a class="button dropDownChoice" id="navBarBtnStatistics" href="/statistics">{% translate "Statistics" %}</a>
        <a class="button dropDownChoice" id="navBarBtnDeposit" href="/deposit">{% translate "Deposit" %}</a>
        {% if user.is_superuser %}
            <a class="button dropDownChoice" href="/admin/">Admin Panel</a>
        {% else %}
        <a class="button dropDownChoice" href="/accounts/password_change/">{% translate "Change Password" %}</a>
        {% endif %}
        <a class="button dropDownChoice" href="/accounts/logout">{% translate "Logout" %}</a>
    </div>
</div>
