/* custom number input */
.customNumberInput {
    display: flex;
    flex-direction: row;
    height: 2.2rem;
    width: 100% !important;
}
.customNumberInput button {
    min-width: 2.5rem !important;
    width: 2.5rem !important;
    padding: 0;
    margin: 0;
    height: 100%;
}
.customNumberInput-minus {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    z-index: 10;
}
.customNumberInput-plus {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    z-index: 10;
}
.customNumberInput input[type="number"] {
    max-height: 100%;
    width: 5rem;
    padding: 0;
    margin: 0;
    font-size: .9rem;
    color: var(--color);
    text-align: center;
    background: var(--glass-bg-color2);
    outline: none;
    border: none;
    border-radius: 0 !important;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}