.history {
    margin: 0;
    padding: 0;
    width: 40%;
    min-width: 30rem;
}
.history td {
    padding-top: .4rem !important;
    padding-bottom: .4rem !important;
    font-size: .95rem;
}
.history .historyDate {
    margin-left: auto;
    text-align: right;
    font-size: .8rem !important;
}
/* mobile devices */
@media only screen and (max-width: 700px) {
    .history {
        width: 90%;
        min-width: 90%;
    }
}