.availableDrinksList {
    width: 50%;
    max-width: 45rem;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.availableDrinksList li {
    display: flex;
    width: 100%;
    height: fit-content;
    margin-bottom: .6rem;
}
.availableDrinksList li a {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
    color: var(--color);
    padding: .8rem 1.1rem;
    text-decoration: none;
    font-size: 1rem;
}
.availableDrinksList li a span:first-child {
    margin-right: 1rem !important;
}
.availableDrinksList li a span:last-child {
    margin-left: auto;
    text-align: right;
    font-size: 1rem;
}
/* mobile devices */
@media only screen and (max-width: 700px) {
    .availableDrinksList {
        width: 95%;
    }
    .availableDrinksList li a {
        width: calc(100vw - (2 * .8rem)) !important;
        padding: .8rem !important;
    }
}