/* login page */
body.overflowHidden {
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}
main {
    margin-top: 0;
}
main > h1 {
    display: none;
}
.userlistContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.userlist {
    width: 50vw;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.userlist li {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: .8rem 1.1rem;
    margin-bottom: .5rem;
    text-align: center;
}
.userlistButton {
    font-size: 1.1rem;
}
.passwordOverlayContainer {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background: var(--page-background);
    z-index: 40;
}
.passwordOverlay {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 10vh;
}
.passwordOverlay > form {
    min-width: unset;
    width: fit-content;
}
.passwordOverlay > form > h1 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.pinpad {
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 30vw;
}
.pinpad table {
    box-shadow: none !important;
}
.pinpad table tr, .pinpad td {
    padding: unset;
    background: unset;
}
.pinpad tr td button {
    height: 4.0rem;
    width: 4.1rem;
    font-size: 1.16rem;
    margin: .2rem !important;
}
@media only screen and (max-width: 700px) {
    .userlistContainer {
        width: 95vw;
    }
    .userlist {
        width: 100%;
    }
    .userlist li {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .pinpad table tr td button {
        height: 4.2rem;
        width: 4.2rem;
        font-size: 1.16rem;
        margin: .2rem;
    }
    .passwordOverlay {
        margin-top: 2rem;
    }
}