.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    flex-grow: 1;
}
.statsHeading {
    min-width: max-content;
    margin-left: 2rem;
    margin-top: 0;
}
.tablesContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 95%;
    margin-top: 5rem;
}
.statisticsTable {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
}
.statisticsTable h1 {
    margin-top: 0;
    font-size: 1.2rem;
    text-align: left;
    min-width: 10rem;
    text-align: center;
}
.statisticsTable table {
    min-width: 20vw;
    width: fit-content;
}
.statisticsTable th:last-child {
    text-align: right;
}
.statisticsTable td:last-child {
    text-align: right;
}
#statisticsDropDownMenu .dropDownList {
    z-index: 195;    
}
@media only screen and (max-width: 700px) {
    .statisticsTable h1 {
        min-width: 90vw;
    }
    .statisticsTable table {
        min-width: 80vw;
    }
    .statisticsTable {
        margin-bottom: 2rem;
        padding-bottom: 1rem;
    }
    .statsHeading {
        margin-left: 0;
        margin-right: 0;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
}