
{% extends "baseLayout.html" %}

{% load i18n %}

{% block title %}
    {% translate "Drinks - Logged Out" %}
{% endblock %}

{% block headAdditional %}
    <link rel="stylesheet" href="/static/css/login.css">
{% endblock %}

{% block content %}

    <div class="centeringFlex">
        {% translate "Logged out! You will be redirected shortly." %}
        <br><br>
        <a href="/">{% translate "Click here if automatic redirection does not work." %}</a>
    </div>

    <script src="/static/js/logged_out.js"></script>

{% endblock %}
