
{% extends "baseLayout.html" %}

{% load i18n %}

{% block title %}
    {% translate "Drinks - Login" %}
{% endblock %}

{% block headAdditional %}
    <link rel="stylesheet" href="/static/css/login.css">
{% endblock %}

{% block content %}

    {% if error_message %}
        <p class="errorText">{{ error_message }}</p>
    {% endif %}

    <div class="passwordOverlayContainer nodisplay" id="passwordOverlayContainer">
            
        <div class="passwordOverlay">

            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <h1>{% translate "Log in as user" %} <span id="usernameDisplay"></span></h1>
                <div class="nodisplay">{{ form.username }}</div>
                <!--
                {{ form.password.label_tag }}
                {{ form.password }}
                -->
                <input type="password" name="password" autocomplete="current-password" required="" id="id_password" placeholder='{% translate "Password/PIN" %}'>
                <input type="hidden" name="next" value="{{ next }}" />

                <div class="pinpad">
                    <table>
                        <tr>
                            <td><button type="button" class="pinpadBtn" data-btn="1">1</button></td>
                            <td><button type="button" class="pinpadBtn" data-btn="2">2</button></td>
                            <td><button type="button" class="pinpadBtn" data-btn="3">3</button></td>
                        </tr>
                        <tr>
                            <td><button type="button" class="pinpadBtn" data-btn="4">4</button></td>
                            <td><button type="button" class="pinpadBtn" data-btn="5">5</button></td>
                            <td><button type="button" class="pinpadBtn" data-btn="6">6</button></td>
                        </tr>
                        <tr>
                            <td><button type="button" class="pinpadBtn" data-btn="7">7</button></td>
                            <td><button type="button" class="pinpadBtn" data-btn="8">8</button></td>
                            <td><button type="button" class="pinpadBtn" data-btn="9">9</button></td>
                        </tr>
                        <tr>
                            <td><button type="button" class="pinpadBtn" data-btn="0">0</button></td>
                            <td><button type="button" class="pinpadBtn" data-btn="x">x</button></td>
                            <td><button type="button" class="pinpadBtn" data-btn="enter">&#9166;</button></td>
                        </tr>
                    </table>
                </div>

                <div class="horizontalButtonList">
                    <button type="button" id="pwoCancel">{% translate "cancel" %}</button>
                    <input class="button" id="submit_login" type="submit" value='{% translate "login" %}' />
                </div>
            
            </form>

        </div>
    </div>

    <h1>{% translate "Choose your account" %}</h1>

    <div class="userlistContainer">
        <ul class="userlist">
            {% for user_ in user_list %}
                <li class="userlistButton button" data-username="{{ user_.username }}">
                        
                    {% if user_.first_name %}

                        {{ user_.first_name }}

                        {% if user_.last_name %}
                            {{ user_.last_name }}
                        {% endif %}

                    {% else %}
                        {{ user_.username }}
                    {% endif %}

                </li>
            {% endfor %}
        </ul>
    </div>

    <script src="/static/js/login.js"></script>

{% endblock %}
