{% extends "admin/base.html" %}

{% block title %}
{% if subtitle %}
{{ subtitle }} | 
{% endif %}
{{ title }} | {{ site_title|default:_('Django site admin') }}
{% endblock %}

{% block extrahead %}
    <link rel="shortcut icon" href="/static/favicon.png" sizes="480x480" />
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}