{% extends "admin/index.html" %}

{% block sidebar %}

    {{ block.super }}

    <div>
        <div>
            <p>Current Register Balance: {{ registerBalance }}{{ currency_suffix }}</p>
            {% if global_message != "" %}
                <p>Global Message: {{ global_message }}</p>
            {% endif %}
            {% if admin_info != "" %}
                <p>Admin Info: {{ admin_info }}</p>
            {% endif %}
        </div>
    </div>

{% endblock %}